* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  background-color: #e1dad2;
}
body .wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
  padding: 0px;
  justify-content: space-between;
}
body p {
  color: #0c2431;
}
body a {
  text-decoration: none;
  color: #0c2431;
}
body a:hover {
  color: #d37556;
  transition-duration: 0.5s;
}
body .fa-brands:hover {
  color: #d37556;
  transition-duration: 0.5s;
}
body li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  background-color: #e1dad2;
}
body .wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
  padding: 0px;
  justify-content: space-between;
}
body p {
  color: #0c2431;
}
body a {
  text-decoration: none;
  color: #0c2431;
}
body a:hover {
  color: #d37556;
  transition-duration: 0.5s;
}
body .fa-brands:hover {
  color: #d37556;
  transition-duration: 0.5s;
}
body li {
  list-style: none;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 65px;
  padding: 1em;
  font-size: 24px;
}
nav #menu_checkbox {
  display: none;
}
nav .logo {
  margin-top: 16px;
}
nav .menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 1;
}
nav .menu li:hover {
  cursor: pointer;
}
nav .menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

@media (max-width: 768px) {
  nav label {
    margin-top: 24px;
    right: 1em;
    z-index: 1001;
    color: black;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    transition: 0.3s ease transform;
    cursor: pointer;
  }
  nav label div {
    width: 30px;
    height: 6px;
    background-color: black;
    margin-left: 0;
    margin-bottom: 6px;
    border-radius: 4px;
    transition: 0.3s ease width, 0.3s ease margin-left, 0.3s ease margin-bottom, 0.3s ease background-color;
  }
  nav .menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    z-index: -1000;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
    font-size: xx-large;
    line-height: 1.5;
  }
  nav #menu_checkbox:checked ~ .menu {
    z-index: 1000;
    visibility: visible;
    opacity: 1;
  }
  nav #menu_checkbox:checked + label {
    transform: translateY(-50%) rotateZ(-90deg);
  }
  nav #menu_checkbox:checked + label div {
    width: 6px;
    margin-left: 12px;
    margin-bottom: 3px;
    background-color: #d37556;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  background-color: #e1dad2;
}
body .wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
  padding: 0px;
  justify-content: space-between;
}
body p {
  color: #0c2431;
}
body a {
  text-decoration: none;
  color: #0c2431;
}
body a:hover {
  color: #d37556;
  transition-duration: 0.5s;
}
body .fa-brands:hover {
  color: #d37556;
  transition-duration: 0.5s;
}
body li {
  list-style: none;
}

footer {
  display: flex;
  margin-top: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  bottom: 0;
  height: 60px;
  background-color: #e1dad2;
  flex-grow: 0;
  flex-shrink: 0;
}
footer .social-media {
  display: flex;
  align-items: center;
  margin-right: 32px;
}
footer .social-media a i {
  font-size: 24px;
  color: black;
  margin-right: 20px;
  padding: 24px;
}
footer .social-media a i:last-child {
  margin-right: 0;
}
footer .info {
  color: black;
}

@media screen and (min-width: 768px) {
  footer {
    justify-content: space-between;
    padding: 0 20px;
  }
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  width: 90%;
  margin: auto;
}
main .aboutme {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .aboutme .about-image img {
  max-width: 400px;
  border-radius: 64px;
  padding: 16px;
}
main .aboutme .about-text h1 {
  text-align: center;
}
main .aboutme .about-text p {
  font-size: 20px;
  margin: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media (max-width: 769px) {
  body .aboutme {
    flex-direction: column;
  }
  body .aboutme .about-image {
    text-align: center;
    order: 1;
    padding: 0 16px;
  }
  body .aboutme .about-image img {
    width: 100%;
    height: auto;
  }
  body .aboutme .about-text {
    padding-left: 0;
    order: 0;
  }
}/*# sourceMappingURL=about.css.map */