@import "../../style";

main {
  display: flex;
  flex-direction: column;
  justify-content: center; // With flex-grow this centers the .contact element vertically within the wrapper
  flex-grow: 1;

  .contact {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    .contact-image {
      img {
        height: 300px;
        border-radius: 32px;
        padding: 16px;
      }
    }

    .about-text {
      h1 {
        text-align: center;
      }
      p {
        font-size: 20px;
        margin-top: 16px;
        margin-bottom: 16px;
      }
    }
  }
}

// responsive for smaller resolution screens
body {
  @media (max-width: $medium) {
    .contact {
      flex-direction: column;

      .contact-image {
        text-align: center; // Center the image on smaller screens
        order: 1; // Display the image below the text
        padding: 0 16px; // Add padding to the container to keep spacing consistent.

        img {
          width: 100%;
          height: auto;
        }
      }

      .contact-text {
        padding-left: 0;
        order: 0; // Ensure the text is displayed above the image
      }
    }
  }
}
