* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  background-color: #e1dad2;
}
body .wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
  padding: 0px;
  justify-content: space-between;
}
body p {
  color: #0c2431;
}
body a {
  text-decoration: none;
  color: #0c2431;
}
body a:hover {
  color: #d37556;
  transition-duration: 0.5s;
}
body .fa-brands:hover {
  color: #d37556;
  transition-duration: 0.5s;
}
body li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  background-color: #e1dad2;
}
body .wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
  padding: 0px;
  justify-content: space-between;
}
body p {
  color: #0c2431;
}
body a {
  text-decoration: none;
  color: #0c2431;
}
body a:hover {
  color: #d37556;
  transition-duration: 0.5s;
}
body .fa-brands:hover {
  color: #d37556;
  transition-duration: 0.5s;
}
body li {
  list-style: none;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 65px;
  padding: 1em;
  font-size: 24px;
}
nav #menu_checkbox {
  display: none;
}
nav .logo {
  margin-top: 16px;
}
nav .menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 1;
}
nav .menu li:hover {
  cursor: pointer;
}
nav .menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

@media (max-width: 768px) {
  nav label {
    margin-top: 24px;
    right: 1em;
    z-index: 1001;
    color: black;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    transition: 0.3s ease transform;
    cursor: pointer;
  }
  nav label div {
    width: 30px;
    height: 6px;
    background-color: black;
    margin-left: 0;
    margin-bottom: 6px;
    border-radius: 4px;
    transition: 0.3s ease width, 0.3s ease margin-left, 0.3s ease margin-bottom, 0.3s ease background-color;
  }
  nav .menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    z-index: -1000;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
    font-size: xx-large;
    line-height: 1.5;
  }
  nav #menu_checkbox:checked ~ .menu {
    z-index: 1000;
    visibility: visible;
    opacity: 1;
  }
  nav #menu_checkbox:checked + label {
    transform: translateY(-50%) rotateZ(-90deg);
  }
  nav #menu_checkbox:checked + label div {
    width: 6px;
    margin-left: 12px;
    margin-bottom: 3px;
    background-color: #d37556;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  background-color: #e1dad2;
}
body .wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
  padding: 0px;
  justify-content: space-between;
}
body p {
  color: #0c2431;
}
body a {
  text-decoration: none;
  color: #0c2431;
}
body a:hover {
  color: #d37556;
  transition-duration: 0.5s;
}
body .fa-brands:hover {
  color: #d37556;
  transition-duration: 0.5s;
}
body li {
  list-style: none;
}

footer {
  display: flex;
  margin-top: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  bottom: 0;
  height: 60px;
  background-color: #e1dad2;
  flex-grow: 0;
  flex-shrink: 0;
}
footer .social-media {
  display: flex;
  align-items: center;
  margin-right: 32px;
}
footer .social-media a i {
  font-size: 24px;
  color: black;
  margin-right: 20px;
  padding: 24px;
}
footer .social-media a i:last-child {
  margin-right: 0;
}
footer .info {
  color: black;
}

@media screen and (min-width: 768px) {
  footer {
    justify-content: space-between;
    padding: 0 20px;
  }
}
main {
  color: white;
  font-size: 10px;
}

img {
  width: 100%;
}

.title {
  color: #d37556;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}

.description {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: #e1dad2;
}

.container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  display: grid;
  padding: 5rem;
  background: #194a50;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  border-radius: 16px;
}

.profile {
  grid-column: 1/-1;
  margin-bottom: 2rem;
}

.column-1, .column-2 {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.profile_container {
  display: flex;
  gap: 2rem;
}
.profile_name_firstName {
  text-transform: uppercase;
  color: white;
  font-weight: 200;
  font-size: clamp(2rem, 8vw, 4rem);
  text-transform: uppercase;
  display: block;
  margin-bottom: -0.8rem;
}
.profile_name_lastName {
  text-transform: uppercase;
  color: #d37556;
  font-weight: 700;
  font-size: clamp(2.5rem, 15vw, 7rem);
  text-transform: uppercase;
  display: block;
}
.profile_title {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
}
.profile .resumedownload {
  display: block;
  text-decoration: underline;
  font-size: 1.6rem;
  margin-top: 1rem;
  color: #e1dad2;
}

.skills_list {
  margin-top: 1rem;
  margin-left: 2rem;
  line-height: 2;
}

.edu_child,
.exp_child,
.project_child {
  margin-top: 2rem;
}
.edu_child .item_years,
.exp_child .item_years,
.project_child .item_years {
  font-size: 1.4rem;
  color: #d37556;
  font-weight: 300;
}
.edu_child .item_title,
.exp_child .item_title,
.project_child .item_title {
  font-size: 1.6rem;
  color: white;
  font-weight: 500;
  margin: 0.8rem 0;
}
.edu_child .item_subtitle,
.exp_child .item_subtitle,
.project_child .item_subtitle {
  font-size: 1.4rem;
  color: #d37556;
  font-weight: 400;
}

.interest_parent {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.interest_child {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #e1dad2;
}

@media only screen and (max-width: 768px) {
  .profile_container {
    flex-direction: column;
  }
  .container {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 3rem;
    gap: 7rem;
    border-radius: 0px;
  }
  .profile {
    margin-bottom: 0;
  }
}/*# sourceMappingURL=experience.css.map */